.page {
  display: flex;
  flex-direction: column;
}

.page main {
  flex: 1;
  width: min(80%, 1000px);
  margin: auto;
  text-align: left;
  padding: 2rem;
}

.page h2 {
  text-align: center;
}

.page a {
  padding: 0.5rem 1rem;
  text-decoration: underline;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 1.6rem;
}

.page button {
  cursor: pointer;
  display: block;
}

.page ol {
  list-style-type: decimal;
  font-size: 1.6rem;
}

.page li {
  margin: 1rem 0;
}
