.app {
  max-width: var(--max-width);
  margin: 0 auto;
  /* padding: 2rem; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--clr-white);
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
}
